/* Header Styling */
.main-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #092809;
    color: white;
    padding: 10px 10px;
}

/* Logo and Title */
.logo-container {
    display: flex;
    align-items: left;
}

.logo-container svg {
    margin-right: 10px;
}

/* Navigation Menu */
.main-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.main-menu li {
    margin-left: 10px;
}

.main-menu a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s;
}

.main-menu a:hover {
    color: #f4b400;
}
