#map {
    flex-grow: 1;
    height: 100vh;
}

.sidebar {
    width: 220px;
    background: #f8f9fa;
    padding: 15px;
    overflow-y: auto;
    position: fixed;
    left: 0;
    top: auto;
    height: 100vh;
    z-index: 1000;
    display: none; /* Initially hidden */
}

textarea,
select,
input {
    resize: none;
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
}

label {
    font-size: 16px;
}

/* Toast Notification Styling */
.toast-container {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
}

.toast {
    padding: 15px 20px;
    margin-bottom: 10px;
    border-radius: 5px;
    font-size: 16px;
    color: white;
    min-width: 250px;
    text-align: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    animation: fadeOut 3s ease-in-out forwards;
}

.toast-success {
    background-color: #28a745;
}

.toast-error {
    background-color: #dc3545;
}

@keyframes fadeOut {
    0% { opacity: 1; }
    80% { opacity: 1; }
    100% { opacity: 0; transform: translateY(20px); }
}

.media-container img, .media-container video {
    width: 100%;
    border-radius: 5px;
}

.leaflet-tooltip {
    font-size: 14px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 5px 10px;
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.leaflet-dragging .leaflet-grab {cursor: move;}

.button-group {
    display: block;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
}

/* Container for virtue buttons */
.virtue-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

/* Hide the checkbox */
.virtue-buttons input[type="checkbox"] {
    display: none;
}

/* Style the label span */
.virtue-buttons label {
    cursor: pointer;
}

/* Button styling */
.virtue-button {
    display: inline-block;
    padding: 8px 12px;
    border: 1px solid #092809;
    background-color: white;
    color: #092809;
    border-radius: 5px;
    font-size: 14px;
    transition: all 0.3s ease-in-out;
}

/* Change button appearance when selected */
.virtue-buttons input[type="checkbox"]:checked + .virtue-button {
    background-color: #092809;
    color: white;
}

.regular-btn {
    display: inline-block;
    padding: 8px 12px;
    border: 1px solid #092809;
    background-color: #092809;
    color: #FFFFFF;
    border-radius: 5px;
    font-size: 14px;
    transition: all 0.3s ease-in-out;
}

.lorem {
    font-style: italic;
    text-align: justify;
    color: #AAA;
}
